<% provide(:title, "Edit station") %>
<div class="center-container">
<%= form_for(@station) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <div id="connected-stations-list">
    <% if @station.connected_stations.count != 0 %>
        Connected with:
        <ul>
          <% @station.connected_stations.each do |st| %>
            <li><%= st.name %></li>
          <% end %>
        </ul>
    <% end %>
  </div>

  <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#edit_station_connections_modal" onclick="showStations()" style="margin-bottom: 10px; margin-top: 10px;">
    Set connected stations
  </button>

 <%= f.submit "Change station name", class: 'btn btn-success' %>
<% end %>
</div>

<%= render partial: 'stations/partials/edit_station_connections_modal', locals: {stations: @stations, concrete_station: @station} %>
<%= javascript_include_tag "station/edit" %>

<script>
    const connectionsToAdd = [];
    const offsetIndex = "station-".length;


    $(function (){
        $("#station_connections_add_submit").on("click", function() {
            $.ajax(
                {
                    method: 'PATCH',
                    url: '/stations/' + <%=@station.id %> + '/update_station_connections',
                    data: { station: {connected_stations: connectionsToAdd}}
                }
            )
        });
    });
</script>