<% provide(:title, "Stations") %>
<button class='btn btn-outline-success' style='margin:10px; font-size: 15px' data-bs-toggle="modal" data-bs-target="#add_station_modal">Create new station</button>
<table class="table table-hover">
  <thead class="thead-dark">
  <tr>
    <th>id</th>
    <th>Name</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <%= render partial: 'stations/station_row', :collection => @stations, :as => :station  %>
  </tbody>
  <%= will_paginate %>
</table>

<div class="modal fade" id="add_station_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <%= form_for(:station) do |f| %>
        <div class="modal-body" id="modal-body">
          <div id="station_creation_message"></div>
          <label>Name: </label>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <%= f.submit "Create station", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>