<% provide(:title, "New station") %>
<div class="center-container form-restrictions">
  <%= form_for(@station) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "Enter station name..." %>

    <%= f.submit "Create", class: 'btn btn-success' %>
  <% end %>
</div>