<tr style="height: 70px">
  <td><%= t.train_id %> <%= t.train.destination %></td>
  <td><%= t.departure_time %></td>
  <td><%= t.arrival_time %></td>
  <td>-</td>
  <td>-</td>
  <% if current_user %>
    <td><%= button_to "Buy", new_ticket_path, method: :get, params: { train_id: t.train_id } , class: "btn btn-primary" %></td>
  <% end %>
</tr>