<div class="center-container">
  <h2 id="carriage-pick-h2" style="text-align: center">Pick carriage where you want to order seat: </h2>
  <ul id="train-carriages-list" style="list-style: none" >
    <% @train.carriages.each do |carriage| %>
      <li id="carriage-<%=carriage.id%>">
        <i class='bi bi-circle-fill blue'></i>
        <a onclick="getCarriage(<%=carriage.id %>)" style="text-decoration: none; cursor: pointer;"><%= carriage.name %></a></li>
    <% end %>
  </ul>
</div>

<%= render partial: 'tickets/partials/place_taken_modal' %>

<script>
  const departureStation = <%= @departure_station.id %>
  var chosen = "-"
  var chosenButton

  function goBack()
  {
      document.querySelector('#carriage-pick-h2').style.display = ""
      document.querySelector('#carriage-h2-div').remove()
      document.querySelector('.carriage').remove()
      document.querySelector('#carriage-order-buttons').remove()
      document.querySelector('#train-carriages-list').style.display = ""
  }

  function pickSeat(item)
  {
      if (chosen === '-')
      {
          chosenButton = item
          chosenButton.style.color = "red"
          chosen = item.value
          document.querySelector('#seat-span').innerHTML = item.textContent
          document.querySelector('#confirm-order-button').disabled = false
      }
      else
      {
          if (chosenButton.value === item.value)
          {
              chosen = '-'
              chosenButton.style.color = "white"
              chosenButton = ""
              document.querySelector('#seat-span').innerHTML = chosen
              document.querySelector('#confirm-order-button').disabled = true
          }
          else
          {
              chosenButton.style.color = "white"
              chosenButton = item
              chosenButton.style.color = "red"
              chosen = item.value
              document.querySelector('#seat-span').innerHTML = item.textContent
              document.querySelector('#confirm-order-button').disabled = false
          }
      }
  }

  function getCarriage(id)
  {
      $.ajax(
          {
              method: 'GET',
              url: '/carriages/' + id + '/get_carriage',
          }
      )
  }

  function makeOrder()
  {
      if (chosen !== '-')
      {
          $.ajax(
              {
                  method: 'POST',
                  url: '/tickets',
                  data: { ticket: { user_id: <%= current_user.id %>, seat_id: chosen, departure_station_id: departureStation}}
              }
          )
    }
  }
</script>