<div class="accordion-item" onClick='accClick(event)'>
  <h2 class="accordion-header" id="heading-<%= route.id %>">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#route-<%= route.id %>" aria-expanded="false" aria-controls="route-<%= route.id %>" style="font-size: 15px">
      <%= route.stations.first.name %> - <%= route.stations.last.name %>
    </button>
  </h2>
  <div id="route-<%= route.id %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= route.id %>" data-bs-parent="#routeAccordion">
    <div class="accordion-body" style="font-size: 15px">
      <ol>
        <% route.stations.each do |station| %>
          <li><%= station.name %></li>
        <% end %>
      </ol>
    </div>
  </div>
</div>