<% provide(:title, "Carriages") %>
<button class="btn btn-outline-success" style="font-size: 15px; margin: 10px" data-bs-toggle="modal" data-bs-target="#add_carriage_modal">Create new carriage</button>
<div class="output-table">
  <table class="table table-hover">
    <thead class="table-dark">
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Type</th>
      <th>Capacity</th>
      <th>Train</th>
      <th>Order number</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'carriages/partials/carriage_row', :collection => @carriages, :as => :carriage  %>
    </tbody>
    <%= will_paginate %>
  </table>
</div>

<div class="modal fade" id="add_carriage_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pick carriage type</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
        <div class="modal-body" id="modal-body">
          <%= form_for(:carriage) do %>
          <% end %>
          <div class="accordion" id="carriageAccordion" style="font-size: 15px">
            <%= render partial: 'carriages/partials/carriage_type_accordion', :collection => @carriage_types, :as => :carriage_type %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onClick='confirm()' id='add_carriage_confirm'>Confirm</button>
        </div>
    </div>
  </div>
</div>

<script>
  let carriageType = ""

  function accClick(event)
  {
      if (event.target.tagName === 'BUTTON')
      {
          let targetId = event.target.dataset.bsTarget.substring('#carriageType-'.length)
          if (targetId === carriageType)
              carriageType = ""
          else
              carriageType = targetId
      }
      console.log(carriageType)
  }

  function confirm()
  {
      if (carriageType!=="")
      {
          $.ajax(
              {
                  method: 'POST',
                  url: '/carriages/',
                  data: {"authenticity_token": "<%= form_authenticity_token %>", "carriage_type" : carriageType}
              }
          )
      }
  }
</script>