<% provide(:title, "Edit route") %>
<%= form_for(@route) do |f| %>
<% end %>
<div class="center-container">
<ul id="ordered-stations-list">
<% @route.stations.each do |station| %>
  <li id='os-<%= station.id %>'>
    <i class="bi bi-circle-fill blue"></i>
    <%= station.name %>
  </li>
<% end %>
</ul>

<div class="add-station-container" data-bs-toggle="modal" data-bs-target="#add_station_modal">
<button class="btn btn-link">
  <span><i class="bi bi-plus-circle"></i></span>
</button>
Add new station
</div>
</div>
<%= render partial: 'routes/partials/station_pick_modal', locals: { stations: @connected_stations}%>

<%= javascript_include_tag "route/edit" %>

<script>
    window.onload = function()
    {
        let lastListItem = document.querySelector("#ordered-stations-list").lastElementChild
        lastListItem.innerHTML += '<button id="station_remove_button" '
                                + 'class="btn" '
                                + 'style="font-size: 12px; color: red; margin-left: 20px" '
                                + 'value="' + lastListItem.id.substring('os-'.length) + '" onClick=removeStation(event)>'
                                + '<i class="bi bi-x-circle"></i></button>'

        $.ajaxSetup({
            headers: {
                'X-CSRF-Token': $('meta[name="csrf-token"]').attr('content')
            }
        });
    }

    let newStation = ""
    const offsetIndex = 'station-'.length;

    function addStation()
    {
        $.ajax(
          {
              method: 'PATCH',
              url: '/routes/' + <%= @route.id %>,
              data: {route: {station_id: newStation, action: "add" }}
          }
        )
    }

    function removeStation(event)
    {
        let to_remove = event.target.tagName === 'I' ? event.target.parentNode.value : event.target.value
        $.ajax(
          {
              method: 'PATCH',
              url: '/routes/' + <%= @route.id %>,
              data: { route: {station_id: to_remove, action: "remove" }}
          }
        )
    }
</script>