newStation = ""
var stationsList = document.querySelector('#ordered-stations-list')
stationsList.innerHTML = '<% @route.stations.each do |station| %>'
                       + '<li id="os-<%= station.id %>">'
                       + '    <i class="bi bi-circle-fill blue"></i>'
                       + ' <%= station.name %></li>'
                       + '<% end %>'

stationsList.lastElementChild.innerHTML += '<button id="station_remove_button" '
                                        + 'class="btn" '
                                        + 'style="font-size: 12px; color: red; margin-left: 2%" '
                                        + 'value="' + stationsList.lastElementChild.id.substring('os-'.length) + '" onClick=removeStation(event)>'
                                        + '<i class="bi bi-x-circle"></i></i></button>'

var modalStationsList = document.querySelector('#station-ul')
modalStationsList.innerHTML = '<% if @stations.count > 0 %>'
                            +      '<% @stations.each do |station|%>'
                            +      '<li><a class="stations_to_choose" id="station-<%=station.id%>" onclick="stationClick(this.id)"'
                            +            'data-chosen="<%=false%>"><%=station.name %></a></li>'
                            +      '<% end %>'
                            +  '<% else %>'
                            +  '<li><a>No stations to choose.</a></li>'
                            +  '<% end %>'
